<div class="strength ml-[1%]">
  <ul class="inline list-none m-0 p-0 align-[2px]">
    <li
      class="bg-[#DDD] rounded-sm inline-block h-[5px] mr-[1px] w-[62px]"
      [style.background-color]="bar0"
    ></li>
    <li
      class="bg-[#DDD] rounded-sm inline-block h-[5px] mr-[1px] w-[62px]"
      [style.background-color]="bar1"
    ></li>
    <li
      class="bg-[#DDD] rounded-sm inline-block h-[5px] mr-[1px] w-[62px]"
      [style.background-color]="bar2"
    ></li>
  </ul>
  <br />
</div>
